<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Daylight</title>
      </head>
      <body>
        <h1>Top Priority</h1>

        <h2>Add Priorities:</h2>

        <form action="/addPriority" method="POST">
          <input type="text" placeholder="Title" name="title" />
          <textarea type="text" placeholder="Body" name="body"></textarea>
          <input type="submit" />
        </form>

        <% for(let i=0; i < info.length; i++) {%>

        <section class="tasks">
          <h3><%= info[i].title %></h3>
          <h4><%= info[i].body %></h4>
          <span><%= info[i].date %></span>
          <div>
            <button class="update">Update</button>
            <button class="delete">Delete</button>
          </div>
        </section>
        <% } %>

        <script src="js/main.js"></script>
      </body>
    </html>
  </body>
</html>
